* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}

/*navegacion */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
nav{
    flex: 1;
    text-align: right;
    
}
nav ul{
    display: inline-block;
    list-style-type: none;
    
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
    
    
}
nav ul li a{
    text-decoration: none;
    color: #555;

}

.contenedor_header{
    max-width: auto;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.Boton a:hover{
    color: #36b04a;  
    text-decoration: underline;
}

/* Portada*/

.ImagenesPortada{
    width: auto;
    height: 500px;
    overflow: hidden;
    position: relative;

}

.ImagenesPortada img{
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;

}

.next, .prev{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50% ;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    position: absolute;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, .6);
    z-index: 100;
    opacity: 0.5;

}
.next{
    right: 2%;
    top: calc(50% - 70px);  
}

.prev{
    left: 2%;
    top: calc(50% - 70px);
}
/*Beneficios hotel*/
.beneficios{
    background: #36b04a;
}
.contenedor{
    width: 80%;
    max-width: 80%;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2]  1fr [x3];
    grid-template-rows: [y0] auto [y1] auto [y2] ;
    grid-gap: 20px;

}

.sub_contenedor {
    padding: 10px;  
     
}
.sub_contenedor div{
    text-align: center; 
    margin: auto;
}
    
.sub_contenedor div img{
    width: 100px; 
    height: 100px;
    border-radius: 80px;
  
}
/*Descipcion*/
.descripcion{
    background: #1081cc;
}

.contenedor_descripcion{
    width: 80%;
    max-width: 80%;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2];
    grid-template-rows: [y0] auto [y1]  ;
    padding: 10px;  
    grid-gap: 50px;
}
.contenedor_descripcion div img{
    height: 350px;
    width: auto;
    border-radius: 10px;
}

.sub_contenedor_desc{
    text-align: justify; 
    margin: auto;
}

/*Footer*/
footer{
    background: #28231f;
    
}
.contactos{
    text-align: justify; 
    margin: auto;
    padding-top: 10px;
    color: white;    
}
.contactos a{
    text-decoration: none;
    color: white;   
}

/*Formulario*/

.formularioreg{
    width: 502px;
    background: crimson;
    padding: 25px;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
    margin-bottom: 40px;
  }
  
  .formularioreg h3, hr{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .etiqueta{
    font-weight: bold;
    display: inline-block;
    width: 110px;
  }
  
  .campos{
    width: 74%;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 16px;
  }
  
  .etiquetaf{
    font-weight: bold;
    display: inline-block;
    width: 173px;
  }
  
  .campof{
    width: 60%;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 16px;
  }
  
  .formularioreg .boton{
    width: 50%;
    background: lightgreen;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: 3px solid white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 25%;
  }


/*Adaptable*/
.menu-icon{
    width: 30px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 950px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #36b04a;
        width: 100%;
        overflow: hidden;
        transition: max-heigth 0.5s;
        opacity: 0.8;
        z-index: 100;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .logo img{
        width: 100px;
    }
    .contenedor_descripcion{
        width: 92%;
        max-width: 92%;
    }
    .contenedor_descripcion div img{
        height: 250px;
        width: auto;
        border-radius: 10px;
    }
  
}
@media only screen and (max-width: 650px){
.contenedor{
    width: 95%;
    max-width: 95%;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] ;
    grid-template-rows: [y0] auto [y1] auto [y2] ;
    grid-gap: 20px;

}
.contenedor_descripcion{
    width: 95%;
    max-width: 95%;
}
.contenedor_descripcion div img{
    height: 150px;
    width: auto;
    border-radius: 10px;
}
}